@using Kendo.Mvc.UI
@using KendoDP2.Areas.Organizacion.Models
@using KendoDP2.Areas.Evaluacion360.Models

@{
    ViewBag.Title = "Intranet";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="@Url.Content("~/Content/assets/css/pages/profile.css")" rel="stylesheet" type="text/css" />
    ColaboradorDTO colaboradorDTO = ViewBag.ColaboradorDTO;
    int index = 0;
    IList<ColaboradorDTO> colaboradores = ViewBag.colaboradores;
    IList<AreaDTO> areas = ViewBag.areas;
    IList<KendoDP2.Areas.Eventos.Models.EstadoEventoDTO> estadosEventos = ViewBag.estadosEventos;
    IList<PuestoDTO> puestos = ViewBag.puestos;
    SelectList lista = new SelectList(areas, "ID", "Nombre");
    SelectList listaEstados = new SelectList(estadosEventos, "ID", "Descripcion");
    SelectList listaPuestos = new SelectList(puestos, "ID", "Nombre");
    int colaboradorLogueado = ViewBag.colaboradorLogueado;
    

    
}
<link href='@Url.Content("~/Content/assets/plugins/fullcalendar/css/fullcalendar.css")' rel='stylesheet' />
<link href='@Url.Content("~/Content/assets/plugins/fullcalendar/css/fullcalendar.print.css")' rel='stylesheet' media='print' />
<script src='@Url.Content("~/Content/assets/plugins/fullcalendar/scripts/fullcalendar.js")'></script>




<div class="row-fluid profile">
    <div class="span12">
        <!--BEGIN TABS-->
        <div class="tabbable tabbable-custom tabbable-full-width">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_1_1" data-toggle="tab">Bienvenido</a></li>
                <li><a href="#tab_1_2" data-toggle="tab">Información personal</a></li>
                <li><a href="#tab_1_3" data-toggle="tab">Administre su Información</a></li>
                <li><a href="#tab_1_4" data-toggle="tab">Eventos</a></li>
                <li><a href="#tab_1_6" data-toggle="tab">Recomendaciones</a></li>
                <li><a href="#tab_1_7" data-toggle="tab">Contactos</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane row-fluid active" id="tab_1_1">
                    <ul class="unstyled profile-nav span3">
                        <li><a href="#">Eventos</a></li>
                        <li><a href="#">Recomendaciones <span>3</span></a></li>
                        <li><a href="#">Contactos</a></li>
                        <li><a href="#">Configuración</a></li>
                    </ul>
                    <div class="span9">
                        <div class="row-fluid">
                            <div class="span8 profile-info">
                                <h1>Mario Moreno</h1>
                                <p>Administrador General del sistema. Sabe que esto es una prueba :D</p>
                                <ul class="unstyled inline">
                                    <li><i class="icon-map-marker"></i>Perú</li>
                                    <li><i class="icon-calendar"></i>19 Abril 1980</li>
                                    <li><i class="icon-star"></i>Cantinflas </li>
                                </ul>
                            </div>
                            <!--end span8-->
                            <div class="span4">
                                <div class="portlet sale-summary">
                                    <div class="portlet-title">
                                        <div class="caption">Eventos</div>
                                        <div class="tools">
                                            <a class="reload" href="javascript:;"></a>
                                        </div>
                                    </div>
                                    <ul class="unstyled">
                                        <li>
                                            <span class="sale-info">Eventos especiales<i class="icon-img-up"></i></span>
                                            <span class="sale-num">2</span>
                                        </li>
                                        <li>
                                            <span class="sale-info">Eventos especiales semana <i class="icon-img-down"></i></span>
                                            <span class="sale-num">5</span>
                                        </li>
                                        <li>
                                            <span class="sale-info">Eventos programados</span>
                                            <span class="sale-num">3</span>
                                        </li>
                                        <li>
                                            <span class="sale-info">Eventos programados semana</span>
                                            <span class="sale-num">4</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!--end span4-->
                        </div>
                        <!--end row-fluid-->
                        <div class="tabbable tabbable-custom tabbable-custom-profile">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_1_11" data-toggle="tab">Últimas Evaluaciones</a></li>
                                <li class=""><a href="#tab_1_22" data-toggle="tab">Tareas</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1_11">
                                    <div class="portlet-body" style="display: block;">
                                        <table class="table table-striped table-bordered table-advance table-hover">
                                            <thead>
                                                <tr>
                                                    <th><i class="icon-briefcase"></i>Nombre de Evaluación </th>
                                                    <th class="hidden-phone"><i class="icon-question-sign"></i>Descripción </th>
                                                    <th><i class="icon-bookmark"></i>Puntaje </th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><a href="#">Evaluación 1</a></td>
                                                    <td class="hidden-phone">Evaluar porque sí...</td>
                                                    <td>75 <span class="label label-success label-mini">Bueno</span></td>
                                                    <td><a class="btn mini green-stripe" href="#">Ver</a></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a href="#">Evaluación 3
                                                        </a>
                                                    </td>
                                                    <td class="hidden-phone">Evaluar nuevamente</td>
                                                    <td>50 <span class="label label-warning label-mini">Pendiente</span></td>
                                                    <td><a class="btn mini blue-stripe" href="#">Ver</a></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a href="#">Evaluación 4
                                                        </a>
                                                    </td>
                                                    <td class="hidden-phone">Evaluación de practicantes</td>
                                                    <td>70<span class="label label-success label-mini">Bueno</span></td>
                                                    <td><a class="btn mini blue-stripe" href="#">Ver</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!--tab-pane-->
                                <div class="tab-pane" id="tab_1_22">
                                    <div class="tab-pane active" id="tab_1_1_1">
                                        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 290px;">
                                            <div class="scroller" data-height="290px" data-always-visible="1" data-rail-visible1="1" style="overflow: hidden; width: auto; height: 290px;">
                                                <ul class="feeds">
                                                    <li>
                                                        <div class="col1">
                                                            <div class="cont">
                                                                <div class="cont-col1">
                                                                    <div class="label label-success">
                                                                        <i class="icon-bell"></i>
                                                                    </div>
                                                                </div>
                                                                <div class="cont-col2">
                                                                    <div class="desc">
                                                                        Tiene 3 evaluaciones pendientes.
                                                                   <span class="label label-important label-mini">Evaluar 
                                                                   <i class="icon-share-alt"></i>
                                                                   </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col2">
                                                            <div class="date">
                                                                Ahora
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <div class="col1">
                                                                <div class="cont">
                                                                    <div class="cont-col1">
                                                                        <div class="label label-success">
                                                                            <i class="icon-bell"></i>
                                                                        </div>
                                                                    </div>
                                                                    <div class="cont-col2">
                                                                        <div class="desc">
                                                                            Nuevos objetivos empresariales   
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col2">
                                                                <div class="date">
                                                                    1 día
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <div class="col1">
                                                            <div class="cont">
                                                                <div class="cont-col1">
                                                                    <div class="label label-important">
                                                                        <i class="icon-bolt"></i>
                                                                    </div>
                                                                </div>
                                                                <div class="cont-col2">
                                                                    <div class="desc">
                                                                        Error en ciertos sistemas. Revisar                      
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col2">
                                                            <div class="date">
                                                                2 días
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="col1">
                                                            <div class="cont">
                                                                <div class="cont-col1">
                                                                    <div class="label label-info">
                                                                        <i class="icon-bullhorn"></i>
                                                                    </div>
                                                                </div>
                                                                <div class="cont-col2">
                                                                    <div class="desc">
                                                                        Realizar la evaluación de objetivos de este periodo.                 
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col2">
                                                            <div class="date">
                                                                1 semana
                                                            </div>
                                                        </div>
                                                    </li>

                                                </ul>
                                            </div>
                                            <div class="slimScrollBar ui-draggable" style="background-color: rgb(161, 178, 189); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; right: 1px; background-position: initial initial; background-repeat: initial initial;"></div>
                                            <div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; background-color: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px; background-position: initial initial; background-repeat: initial initial;"></div>
                                        </div>
                                    </div>
                                </div>
                                <!--tab-pane-->
                            </div>
                        </div>
                    </div>
                    <!--end span9-->
                </div>
                <!--end tab-pane-->
                <div class="tab-pane profile-classic row-fluid" id="tab_1_2">
                    <!--<div class="span2"><img src="assets/img/profile/profile-img.png" alt=""> <a href="#" class="profile-edit">edit</a></div>
                           <ul class="unstyled span10">
                              <li><span>User Name:</span> JDuser</li>
                              <li><span>First Name:</span> John</li>
                              <li><span>Last Name:</span> Doe</li>
                              <li><span>Counrty:</span> Spain</li>
                              <li><span>Birthday:</span> 18 Jan 1982</li>
                              <li><span>Occupation:</span> Web Developer</li>
                              <li><span>Email:</span> <a href="#">john@mywebsite.com</a></li>
                              <li><span>Interests:</span> Design, Web etc.</li>
                              <li><span>Website Url:</span> <a href="#">http://www.mywebsite.com</a></li>
                              <li><span>Mobile Number:</span> +1 646 580 DEMO (6284)</li>
                              <li><span>About:</span> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</li>
                           </ul>-->
                    @Html.Partial("ViewColaboradorIntranet", colaboradorDTO)
                </div>
                <!--tab_1_2-->
                <div class="tab-pane row-fluid profile-account" id="tab_1_3">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="span3">
                                <ul class="ver-inline-menu tabbable margin-bottom-10">
                                    <li class="active">
                                        <a data-toggle="tab" href="#tab_1-1">
                                            <i class="icon-cog"></i>
                                            Información Personal
                                        </a>
                                        <span class="after"></span>
                                    </li>
                                    <li class=""><a data-toggle="tab" href="#tab_2-2"><i class="icon-picture"></i>Editar Imagen </a></li>
                                    <li class=""><a data-toggle="tab" href="#tab_3-3"><i class="icon-lock"></i>Cambiar Contraseña </a></li>

                                </ul>
                            </div>
                            <div class="span9">
                                <div class="tab-content">
                                    <div id="tab_1-1" class="tab-pane active">
                                        <div style="height: auto;" id="accordion1-1" class="accordion collapse in">
                                            @Html.Partial("EditorColaboradorIntranet", colaboradorDTO)

                                        </div>
                                    </div>
                                    <div id="tab_2-2" class="tab-pane">
                                        <div style="height: auto;" id="accordion2-2" class="accordion collapse in">
                                            @Html.Partial("EditorColaboradorImagenIntranet", colaboradorDTO)
                                        </div>
                                    </div>
                                    <div id="tab_3-3" class="tab-pane">
                                        <div style="height: auto;" id="accordion3-3" class="accordion collapse in">
                                            <form action="#">
                                                @Html.Partial("EditorColaboradorContrasenha", colaboradorDTO)

                                                <div class="submit-btn">
                                                    <a href="#" class="btn green">Guardar</a>
                                                    <a href="#" class="btn">Cancelar</a>
                                                </div>
                                            </form>
                                        </div>

                                     </div>
                                </div>
                             </div>


                                          </div>
                                       </div>

                                    </div>
                           
                            <!--end span9-->
             
                <!--end tab-pane-->
                <div class="tab-pane" id="tab_1_4">

                    @Html.Partial("EventosIntranet")
                    <!--end row-fluid-->
                </div>
                <!--end tab-pane-->
                <div class="tab-pane row-fluid" id="tab_1_6">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="span3">
                                <ul class="ver-inline-menu tabbable margin-bottom-10">
                                    <li class="active">
                                        <a data-toggle="tab" href="#tab_1">
                                            <i class="icon-briefcase"></i>
                                            Recomendaciones Generales
                                        </a>
                                        <span class="after"></span>
                                    </li>
                                    <li><a data-toggle="tab" href="#tab_2"><i class="icon-group"></i>Convocatoria Interna</a></li>
                                    <li><a data-toggle="tab" href="#tab_3"><i class="icon-leaf"></i>Comentarios de evaluación</a></li>

                                </ul>
                            </div>
                            <div class="span9">
                                <div class="tab-content">
                                    <div id="tab_1" class="tab-pane active">
                                        <div style="height: auto;" id="accordion1" class="accordion collapse in">
                                            <div class="accordion-group">
                                                <div class="accordion-heading">
                                                    <a href="#collapse_1" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle collapsed">Realizar más rápido sus evaluaciones
                                                    </a>
                                                </div>
                                                <div class="accordion-body collapse in" id="collapse_1">
                                                    <div class="accordion-inner">
                                                        Tiene demasiadas evaluaciones pendientes a la fecha. Algunas por vencerse
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-group">
                                                <div class="accordion-heading">
                                                    <a href="#collapse_2" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle collapsed">Revisar constantemente sus objetivos personales
                                                    </a>
                                                </div>
                                                <div class="accordion-body collapse" id="collapse_2">
                                                    <div class="accordion-inner">
                                                        Es necesario verificar la actualización de objetivos.
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div id="tab_2" class="tab-pane">
                                        <div style="height: auto;" id="accordion2" class="accordion collapse in">
                                            <div class="accordion-group">
                                                <div class="accordion-heading">
                                                    <a href="#collapse_2_1" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle collapsed">Solicitud de nuevo gerente de ventas
                                                    </a>
                                                </div>
                                                <div class="accordion-body collapse in" id="collapse_2_1">
                                                    <div class="accordion-inner">
                                                        Se requiere un nuevo gerente de ventas. Ver a detalle la convocatoria.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-group">
                                                <div class="accordion-heading">
                                                    <a href="#collapse_2_2" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle collapsed">Solicitud nuevo Gerente general
                                                    </a>
                                                </div>
                                                <div class="accordion-body collapse" id="collapse_2_2">
                                                    <div class="accordion-inner">
                                                        Nuevo gerente que dirija todo.
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                    <div id="tab_3" class="tab-pane">
                                        <div style="height: auto;" id="accordion3" class="accordion collapse in">
                                            <div class="accordion-group">
                                                <div class="accordion-heading">
                                                    <a href="#collapse_3_1" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle collapsed">Mejorar su capacidad 2
                                                    </a>
                                                </div>
                                                <div class="accordion-body collapse in" id="collapse_3_1">
                                                    <div class="accordion-inner">
                                                        Las evaluaciones muestran objetivo en nivel bajo
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-group">
                                                <div class="accordion-heading">
                                                    <a href="#collapse_3_2" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle collapsed">Mejorar objetivo 2
                                                    </a>
                                                </div>
                                                <div class="accordion-body collapse" id="collapse_3_2">
                                                    <div class="accordion-inner">
                                                        Objetivo solo alcanza el 35%
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end span9-->
                        </div>
                    </div>
                </div>
                <!--end tab-pane-->





                @*********************CONTACTOS*****************************@
                <div class="tab-pane" id="tab_1_7">
                    <div class="row-fluid">
                        <div class="span3 responsive">
                            @(Html.Kendo().ComboBox()
                    .Name("ComboColaboradores")
                    .Placeholder("Agregue un colaborador...")
                    .DataTextField("NombreCompleto")
                    .DataValueField("ID")
                    .Filter("contains")
                    .BindTo(colaboradores)
                    .Suggest(true)
                    .HtmlAttributes(new { style = "width:100%" })
                    .Events(e => e.Close("comboColaboradoresSelection"))
                )


                        </div>
                    </div>
                    <div class="row-fluid information-container">
                        @(Html.Kendo().Grid<KendoDP2.Areas.Organizacion.Models.ContactosDTO>()
                .Name("ContactosGrid")
                .Columns(columns =>
                    {
                        columns.Bound(p => p.ContactoID);
                        columns.Bound(p => p.Nombre);
                        //columns.Bound(p => p.ContactoDTO.ApellidoPaterno);
                        //columns.Bound(p => p.ContactoDTO.ApellidoMaterno);
                        columns.Bound(p => p.Relacion);



                        columns.Command(command =>
                        {
                            command.Custom("Ver").Click("verContacto").SendDataKeys(true); command.Destroy().Text("Eliminar");
                        }).Width(200);
                    }
                )

                        .Editable(
                            e => e.DisplayDeleteConfirmation("¿Realmente desdea eliminar este registro?")
                        )
                        .Pageable(paper => paper.Refresh(true))
                        .Filterable()
                        .Sortable()
                        .Scrollable(w => w.Height(330))
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .PageSize(20)
                            .Model(model => { model.Id(p => p.ID); })

                            .Read(read => read.Action("EditingInline_Read2", "Colaboradores", new { colaboradorID = colaboradorDTO.ID }))
                            .Update(update => update.Action("EditingInline_Update", "Colaboradores"))
                            .Destroy(update => update.Action("EditingInline_Destroy", "Colaboradores"))
                        )
                        )
                    </div>

                </div>





                @*********************CONTACTOS FIN*****************************@



        <!--END TABS-->
        </div>
    </div>
    </div>
</div>
@(Html.Kendo().Window().Name("Details")
    .Title("Contacto")
    .Visible(false)
    .Modal(true)
    .Draggable(true)
    .Width(900)

)
<script type="text/javascript">
    function loadImage(img_name) {
        $("#" + img_name).attr("src", "/Organizacion/Colaboradores/ViewImageDeColaborador?colaboradorID=" + '@colaboradorDTO.ID');
    }

    $(document).ready(function ready() {
        //comboPuestosSelection();
        comboColaboradoresSelection();
    });

    var last_container = null;
    function comboColaboradoresSelection() {
        var comboPuestos = $("#ComboColaboradores").data("kendoComboBox");
        if (comboPuestos.selectedIndex == -1)
           return;

        var puestoID = comboPuestos.dataItem(comboPuestos.selectedIndex).ID;

       if (last_container != null)
            last_container.hide();
       last_container = $("#container-" + puestoID);
        last_container.show();
    }





    function afterRequest(e) {
        if (e.type == 'create')
            e.sender.read();
    }

    function modificarParticipacion(pxe) {

    }

    function cambioEnFila(e) {
        console.log("CambioEnFila");
    }


    function verContacto(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        //ID = dataItem.ID;
        var wnd = $("#Details").data("kendoWindow");
        var contactoID = dataItem.ContactoID;
        $("#Details").load("@Url.Action("GetViewContacto","Colaboradores", new{Area = "Organizacion"})", {contactoID :contactoID }, function () {
            wnd.center().open();
        });
    }


    function comboColaboradoresSelection(e) {
        var comboColaboradores = $("#ComboColaboradores").data('kendoComboBox');
        if (comboColaboradores.selectedIndex == -1)
            return;
        var colaboradorID = @colaboradorDTO.ID;
        var contactoID = comboColaboradores.dataItem(comboColaboradores.selectedIndex).ID;
        //var contactoNombre = comboColaboradores.dataItem(comboColaboradores.selectedIndex).NombreCompleto;
        $.ajax({
            url: '@Url.Action("AddEvaluadosColaborador", "Colaboradores", new { Area = "Organizacion" })',
                    dataType: 'JSON',
                    type: 'POST',
                    data: {colaboradorID: @colaboradorDTO.ID, contactoID: contactoID},
                    success: function (data) {
                        if (data.success) {
                            $("#ContactosGrid").data('kendoGrid').dataSource.read();
                        }
                        else
                            alert("El colaborador seleccionado ya se encuentra en la lista de contactos");
                    },
                    error: function () {
                        alert("Hubo un error en la operación");
                    }
                });
            }
</script>


<script type="text/javascript">
    $(document).ready(function() {
        console.log('creando');
	
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();
		
        $('#calendar3').fullCalendar({
            header: {
                left: 'title',
                center: '',
                right: 'prev,next,today,month,agendaWeek,agendaDay'
            },
            editable: true,
            events: '@Url.Action("GetEventosPersonales", "Intranet", new {Area = "Organizacion"})?colaboradorID=@colaboradorLogueado'
 
        });
        
        function foo(){
            $('#calendar3').each(function(){
                if($(this).is(':visible')){
                    $("#calendar3").fullCalendar('render');
                }
            });
        } //foo()
        window.setInterval(foo, 100);

    });

</script>