@using Kendo.Mvc.UI
@using KendoDP2.Areas.Organizacion.Models
@using KendoDP2.Areas.Configuracion.Models
@using KendoDP2.Areas.Organizacion.Models

@model KendoDP2.Areas.Organizacion.Models.ColaboradorDTO
@{
    
    IList<AreaDTO> areas = ViewBag.areas;
    IList<PuestoDTO> puestos = ViewBag.puestos;
    
}

@using (Ajax.BeginForm("UpdateImagen", "Colaboradores", new AjaxOptions{HttpMethod = "POST"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <div  style="width:900px;">
        <div class="row-fluid">
            <!-- contenedor superior izquierdo: campos -->
            @Html.HiddenFor(model => model.ID)

            @Html.Label("Imagen:", new { style = "font-weight: bold;" })
             <div style="text-align: center;">
                    <img id="imagen2" src="http://grifocalpointblog.org/wp-content/themes/blogga/images/ajax-loader.gif" /> 
                </div>
                <style>
                    .k-upload-button{
                        width: 100%;
                    }
                </style>
                @Html.HiddenFor(m => m.ImagenColaboradorID)
                <input type="file" id="Archivo" name="Archivo" />
                <script>
                    $("#Archivo").kendoUpload({
                        multiple: false,
                        showFileList: false,
                        localization: {
                            select: 'Seleccione la imagen'
                        },
                        async: {
                            saveUrl: '@Url.Action("UploadSingleFile", "Misc", new {Area = ""})',
                            autoUpload: true,
                        },
                        success: function (e) {
                            var archivoID = e.response.ID;
                            loadImageWithID(archivoID);
                            $("#ImagenColaboradorID").val(archivoID).change();
                        }
                    });
                    $(document).ready(function () {
                        loadImage('imagen2');
                    });
                    function loadImageWithID(ID) {
                        $("#imagen2").attr("src", "/Misc/GetImagen?archivoID=" + ID);
                    }
                    </script>
         <!-- fin contenedor superior derecho: foto -->
        </div>
    </div>
  
   
    
                                            <div class="space10"></div>
                                            <div class="submit-btn">
                                               <a href="javascript:submitImagen();" class="btn green">Guardar</a>
                                            </div>
<script>
    $("#AreaID").change(function () {
        var areaID = $(this).val();
        $.getJSON("@Url.Action("_GetPuestos", "Colaboradores", new {Area = "Organizacion"})",
               { areaID: areaID },
               function (puestos) {
                   var select = $("#PuestoID");
                   select.empty();
                   select.append($('<option/>', {
                       value: 0,
                       text: ""
                   }));
                   $.each(puestos, function (index, itemData) {
                       select.append($('<option/>', {
                           value: itemData.ID,
                           text: itemData.Nombre
                       }));
                   });
               });
    });
    function submitImagen() {
        $("#form1").submit();
    }
</script>
}