@using Kendo.Mvc.UI
@using KendoDP2.Areas.Organizacion.Models
@using KendoDP2.Areas.Configuracion.Models
@using KendoDP2.Areas.Organizacion.Models

@model KendoDP2.Areas.Organizacion.Models.ColaboradorDTO
@{

    
}

@using (Ajax.BeginForm("CambiarPassword", "Intranet", new AjaxOptions{HttpMethod = "POST"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <div  style="width:900px;">
        <div class="row-fluid">
            <!-- contenedor superior izquierdo: campos -->
            @Html.Label("Cuenta de Usuario:", new { style = "font-weight: bold;" })
            @Html.HiddenFor(m => m.ID)
            <div class="space10"></div>

            <div class="span7">

                 <div class="row-fluid">
                    <div class="span5">
                        <div class="editor-label" style="width: 100%; text-align: left;">@Html.LabelFor(model => model.Usuario)</div>
                    </div>
                    <div class="span7">
                        <div class="editor-field" style="width: 100%; text-align: left;">
                            @Html.TextBoxFor(model => model.Usuario, new { @readonly = "readonly" })
                        </div>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span5">
                        <div class="editor-label" style="width: 100%; text-align: left;">@Html.LabelFor(model => model.Contrasenha)</div>
                    </div>
                    <div class="span7">
                        <div class="editor-field" style="width: 100%; text-align: left;">
                            @Html.PasswordFor(model => model.Contrasenha)
                            @Html.ValidationMessageFor(model => model.Contrasenha)
                        </div>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span5">
                        <div class="editor-label" style="width: 100%; text-align: left;">@Html.LabelFor(model => model.NuevaContrasenha)</div>
                    </div>
                    <div class="span7">
                        <div class="editor-field" style="width: 100%; text-align: left;">
                            @Html.PasswordFor(model => model.NuevaContrasenha)
                            @Html.ValidationMessageFor(model => model.NuevaContrasenha)
                        </div>
                    </div>
                </div>

         </div> 

        </div>
        </div>
    <div class="submit-btn">
                                                   <a href="javascript:CambiarPassword()" class="btn green">Guardar</a>
                                                </div>
}        

<script type="text/javascript">
    function CambiarPassword(){
        var form = $("#form1");
        var p1 = $("#Contrasenha");
    }
</script>