@using Kendo.Mvc.UI
@using KendoDP2.Areas.Organizacion.Models
@using KendoDP2.Areas.Reclutamiento.Models

@{
    ViewBag.Title = "Organigrama de la empresa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/primitive/css/jquery-ui-1.10.3.custom.css")" />
<script type="text/javascript" src="@Url.Content("~/Content/primitive/js/jquery-ui-1.10.3.custom.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/primitive/js/primitives.min.js")"></script>
<link href="@Url.Content("~/Content/primitive/css/primitives.latest.css")" media="screen" rel="stylesheet" type="text/css" />

@{Html.RenderPartial("Titulo", new KendoDP2.Models.Helpers.PageTitle("Organigrama", "Navega en el organigrama de la empresa"));}

<div class="portlet box green">
    <div class="portlet-title">
        <h4><i class="icon-reorder"></i>Organigrama</h4>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row-fluid">
             <div style="text-align: center; vertical-align: middle"> <img id="loadingImage" src="http://grifocalpointblog.org/wp-content/themes/blogga/images/ajax-loader.gif"/> </div>
            <div class="basicdiagram" style="width: auto; height: 480px;" />
        </div>
    </div>
</div>

<script type='text/javascript'>

    function armarArbol(raiz) {
        var options = new primitives.orgdiagram.Config();
        
        var item = agregarNodo(raiz);

        options.rootItem = item;
        options.cursorItem = item;
        options.hasSelectorCheckbox = primitives.common.Enabled.False;

        $(document).ajaxStop(function () {
            $("#loadingImage").hide();
            jQuery(".basicdiagram").orgDiagram(options);
        });
    }

    function agregarNodo(nodo) {
        var item = new primitives.orgdiagram.ItemConfig();
        item.title = nodo.Puesto;
        item.groupTitle = nodo.Area;
        item.description = nodo.Nombre + "\n" + nodo.Correo + "\n" + nodo.Telefono
        item.image = nodo.ImagenURL;

        if (nodo.HasChildren) {
            $.ajax({
                url: '@Url.Action("GetNodosHijo", "Organigrama", new { Area = "Organizacion" })',
                datatype: 'JSON',
                type: 'GET',
                data: {
                    id: nodo.PuestoId
                },
                success: function (result) {
                    for (i = 0; i < result.length; i++) {
                        item.items.push(agregarNodo(result[i]));
                    }
                }
            });
        }
        return item;
    }

    $(window).load(function () {
        $.ajax({
            url: '@Url.Action("GetNodosHijo", "Organigrama", new { Area = "Organizacion" })',
             datatype: 'JSON',
             type: 'GET',
             data: {
                 id: null
             },
             success: function (result) {
                 armarArbol(result[0]);
             }
         });
    });

</script>
