@using Kendo.Mvc.UI
@using KendoDP2.Areas.Organizacion.Models
@using KendoDP2.Areas.Evaluacion360.Models
@using System.Globalization


@{
    ViewBag.Title = "Monitoreo en mi equipo de trabajo";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ICollection<ColaboradorDTO> susSubordinados = ViewBag.Colaboradores;
    IList<KendoDP2.Areas.Configuracion.Models.PeriodoDTO> periodos = ViewBag.periodos;
}

@{Html.RenderPartial("Titulo", new KendoDP2.Models.Helpers.PageTitle("Monitoreo en mi equipo de trabajo", ""));}

<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption"><i class="icon-reorder"></i> Supervisión de objetivos</div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
        </div>
    </div>
    <div class="portlet-body">

        @(Html.Kendo().Window()
            .Name("CambioValor")
            .Title("Aceptación de progreso")
            .Modal(true)
            .Draggable()
            .Content(@<text>
            
                <div>

                    Como jefe, considero que este avance es del 

                    @(Html.Kendo().NumericTextBox<double>()
                    .Name("percentage")
                    .Format("p0")
                    .Min(0)
                    .Max(1)
                    .Step(0.01)
                    .Value(0.2)
                    .HtmlAttributes(new { style = "width: 70px" }))

                    <span id="actualizar" class="k-button">Aprobar</span>

                </div>
        
            </text>)
            .Resizable()
            .Visible(false))

        @*<div class="row fluid">*@
        <div class="row-fluid">
            <div class="span12">
                Seleccione periodo: 

                @(Html.Kendo().DropDownList()
                    .Name("Periodos")
                    .DataTextField("Nombre")
                    .DataValueField("ID")
                    .BindTo(periodos)
                    .HtmlAttributes(new { style = "width:100%" })
                            //.Events()
                    .Events(e => e.Change("cambioPeriodo"))
                    .SelectedIndex(0))
            </div>
        </div>

        @for (int i = 0; i < periodos.Count; i++ ) {
            
            @*<div id="seccion-PER@periodos[i].ID" style="visibility: hidden">*@
            <div id="seccion-PER-@periodos[i].ID" class="@(i == 0 ? "" : "hidden")">

                @foreach (ColaboradorDTO unSubordinado in susSubordinados)
                {
                    <div class="row-fluid">
            
                        <div class="span12">
                            <b>Del colaborador: 
                            @unSubordinado.NombreCompleto
                            </b>
                        </div>
                    </div>

                    <div class="row-fluid">

                        @(Html.Kendo().PanelBar()
                            //.Name("Objetivos" + unSubordinado.ID)
                            .Name("Objetivos-SUB" + unSubordinado.ID + "-PER" + periodos[i].ID)
                            .HtmlAttributes(new { style = "margin-right: 220px;" })
                            .ExpandAll(false)
                            .Items(panelbar =>
                            {
                                foreach (KendoDP2.Areas.Objetivos.Models.ObjetivoDTO unoDeSusObjetivos in unSubordinado.Objetivos.Where(o => o.BSCID == periodos[i].ID))
                                {
                                    panelbar.Add().Text("Objetivo: " + unoDeSusObjetivos.Nombre + " (" + unoDeSusObjetivos.Peso + "%)")
                                    .Items(items =>
                                    {
                                    
                                        for (int j = 0; j < unoDeSusObjetivos.LosProgresos.Count; j++) {
                                            KendoDP2.Areas.Objetivos.Models.AvanceObjetivoDTO unPaso = unoDeSusObjetivos.LosProgresos.ElementAt(j);
                                            string comentario = unPaso.Comentario == null || unPaso.Comentario.Length == 0 ? "Sin comentarios." : "Comentario: '" + unPaso.Comentario + "'.";
                                            if (j == unoDeSusObjetivos.LosProgresos.Count - 1 && !unPaso.EsRevision)
                                            {
                                                items.Add().Text("El " + unPaso.FechaCreacion + " se alcanzó el " + unPaso.Valor + "%. " + comentario + "  Presione este elemento para aprobarlo.").Url("javascript:escogeOpcion(" + unPaso.ID + ", " + unPaso.Valor + ")");
                                            }
                                            else {
                                                items.Add().Text("El " + unPaso.FechaCreacion + " se alcanzó el " + unPaso.Valor + "%. " + comentario);
                                            }
                                            //string comentario = unPaso.Comentario == null || unPaso.Comentario.Length  == 0 ? "Sin comentarios." : "Comentario: '" + unPaso.Comentario  
                                    
                                    
                                        }
                                    });
                                }

                            })
                        )
                        <br />
                    </div>  

            }

            </div>
        }
    </div>
</div>

<script>

    var elPasoIDSeleccionado;
    var seccionVisible = null;

    function escogeOpcion(e) {
        console.log($(e));
        console.log($(e.item));
        $("#CambioValor").data("kendoWindow").center().open();
    }

    function escogeOpcion(progresoID, avance) {
        elPasoIDSeleccionado = progresoID;
        console.log("elPasoIDSeleccionado = " + elPasoIDSeleccionado);
        $('#percentage').data('kendoNumericTextBox').value(avance / 100);
        $("#CambioValor").data("kendoWindow").center().open();
    }

    function cambioPeriodo(e) {

        //console.log("")

        var losPeriodos = $("#Periodos").data("kendoDropDownList");
        var elPeriodo = losPeriodos.dataItem(losPeriodos.selectedIndex).ID;

        console.log("Cambio periodo - " + elPeriodo);

        seccionVisible.hide();
        seccionVisible = $("#seccion-PER-" + elPeriodo);
        seccionVisible.show();
    }

    $(document).ready(function () {

        var losPeriodos = $("#Periodos").data("kendoDropDownList");
        var elPeriodo = losPeriodos.dataItem(losPeriodos.selectedIndex).ID;
        seccionVisible = $("#seccion-PER-" + elPeriodo);

        $('#actualizar').on('click', function () {

            $("#CambioValor").data("kendoWindow").close();

            $.ajax({
                type: "POST",
                data: { progresoID: elPasoIDSeleccionado, valorConsideradoPorElJefe: parseInt($('#percentage').data('kendoNumericTextBox').value() * 100, 10) },
                url: '@Url.Action("capturarValidacionDelJefe")',
                success: function (data) {
                }
            });

            location.reload(true);
        })
    });

</script>