@using Kendo.Mvc.UI
@using KendoDP2.Areas.Organizacion.Models
@using KendoDP2.Areas.Evaluacion360.Models
@using System.Globalization


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ICollection<ColaboradorDTO> susSubordinados = ViewBag.Colaboradores; 
}

@{Html.RenderPartial("Titulo", new KendoDP2.Models.Helpers.PageTitle("Mis subordinados", ""));}

<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption"><i class="icon-reorder"></i> Supervisión de objetivos</div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
        </div>
    </div>
    <div class="portlet-body">

        @(Html.Kendo().Window()
            .Name("CambioValor")
            .Title("Aceptación de progreso")
            .Modal(true)
            .Draggable()
            .Content(@<text>
            
                <div>

                    Como jefe, considero que este avance es del 

                    @(Html.Kendo().NumericTextBox<double>()
                    .Name("percentage")
                    .Format("p0")
                    .Min(0)
                    .Max(1)
                    .Step(0.01)
                    .Value(0.2)
                    .HtmlAttributes(new { style = "width: 70px" }))

                    <span id="actualizar" class="k-button">Aprobar</span>

                </div>
        
            </text>)
            .Resizable()
            .Visible(false))



        @foreach (ColaboradorDTO unSubordinado in susSubordinados) {
            <div class="row-fluid">
            
                <div class="span12">
                    <b>Del colaborador: 
                    @unSubordinado.NombreCompleto
                    </b>
                </div>
            </div>

            <div class="row-fluid">

                @(Html.Kendo().PanelBar()
                    .Name("Objetivos" + unSubordinado.ID)
                    .HtmlAttributes(new { style = "margin-right: 220px;" })
                    .ExpandAll(false)
                    .Items(panelbar =>
                    {
                        foreach (KendoDP2.Areas.Objetivos.Models.ObjetivoDTO unoDeSusObjetivos in unSubordinado.Objetivos)
                        {
                            panelbar.Add().Text("Objetivo: " + unoDeSusObjetivos.Nombre + " (" + unoDeSusObjetivos.Peso + "%)")
                            .Items(items =>
                            {
                                foreach (KendoDP2.Areas.Objetivos.Models.AvanceObjetivoDTO unPaso in unoDeSusObjetivos.LosProgresos)
                                {
                                    if (unPaso.FueRevisado)
                                    {
                                        if (unPaso.Valor == unPaso.ValorDelJefe)
                                        {
                                            //El jefe aprobo el avance presentado por el subordinado
                                            items.Add().Text("El " + unPaso.FechaCreacion + " alcancé el " + unPaso.Valor + "%");

                                        }
                                        else
                                        {
                                            //El jefe modifico el valor a su criterio
                                            items.Add().Text("El " + unPaso.FechaCreacion + " alcancé el " + unPaso.Valor + "%. El jefe dispuso un valor de " + unPaso.ValorDelJefe + "%.");

                                        }

                                    }
                                    else
                                    {
                                        items.Add().Text("El " + unPaso.FechaCreacion + " alcancé el " + unPaso.Valor + "%. Presione este elemento para aprobarlo.").Url("javascript:escogeOpcion(" + unPaso.ID + ", " + unPaso.Valor + ");");
                                        
                                    }
                                
                                
                                }
                            });
                        }
                    
                   })
                )
                <br />
            </div>  

        }
    </div>
</div>

<script>

    var elPasoIDSeleccionado;

    function escogeOpcion(e) {
        console.log($(e));
        console.log($(e.item));
        $("#CambioValor").data("kendoWindow").open();
    }

    function escogeOpcion(progresoID, avance) {
        elPasoIDSeleccionado = progresoID;
        console.log("elPasoIDSeleccionado = " + elPasoIDSeleccionado);
        $('#percentage').data('kendoNumericTextBox').value(avance / 100);
        $("#CambioValor").data("kendoWindow").open();
    }

    $(document).ready(function () {

        $('#actualizar').on('click', function () {

            $("#CambioValor").data("kendoWindow").close();

            $.ajax({
                type: "POST",
                data: { progresoID: elPasoIDSeleccionado, valorConsideradoPorElJefe: parseInt($('#percentage').data('kendoNumericTextBox').value() * 100, 10) },
                url: '@Url.Action("capturarValidacionDelJefe")',
                success: function (data) {
                }
            });

            location.reload(true);
        })
    });

</script>