@using Kendo.Mvc.UI
@using KendoDP2.Areas.Organizacion.Models
@using KendoDP2.Areas.Evaluacion360.Models
@{
    ViewBag.Title = "Evaluación";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ColaboradorDTO evaluado = ViewBag.evaluado;
    int tablaEvaluadoresID = ViewBag.instanciaEvaluadores;
}

@{Html.RenderPartial("Titulo", new KendoDP2.Models.Helpers.PageTitle("Evaluación", "Rinda sus evaluaciones asignadas."));}

<script type="text/x-kendo-tmpl" id="template">
    <div>
       <dl>
        @* <dt>ID: </dt> <dd>#:ID#</dd>
         <dt>Peso: </dt> <dd>#:Peso#</dd>*@
         <dt>Capacidad: </dt> <dd>#:TextoPregunta#</dd>
         @*<dt>Puntuación: </dt> <dd>#:Puntuacion#</dd>
         <dd><input type="text" id="puntPregunta__#:ID#" required="required" style="display:block;" />*@
            <div class="row-fluid">
                <span class="rating">
                    <span class="star" id="strella1__#:ID#" onClick="GuardarPuntuacionPorPregunta(#:ID#, 100, #:Peso#, strella1__#:ID#)"></span>
                    <span class="star" id="strella2__#:ID#" onClick="GuardarPuntuacionPorPregunta(#:ID#, 80, #:Peso#, strella1__#:ID#)"></span>
                    <span class="star" id="strella3__#:ID#" onClick="GuardarPuntuacionPorPregunta(#:ID#, 60, #:Peso#, strella1__#:ID#)"></span>
                    <span class="star" id="strella4__#:ID#" onClick="GuardarPuntuacionPorPregunta(#:ID#, 40, #:Peso#, strella1__#:ID#)"></span>
                    <span class="star" id="strella5__#:ID#" onClick="GuardarPuntuacionPorPregunta(#:ID#, 20, #:Peso#, strella1__#:ID#)"></span>
                </span>
            </div>
        </dd>
       </dl>
      
     </div>
</script>
<style>
 .selectedS {
  content: "\f005";
  color: #e3cf7a;
}
</style>
<div class="portlet box green">
     <div class="portlet-title">
        <h4><i class="icon-reorder"></i>Procesos de evaluación</h4>
        <div class="tools">
	        <a href="javascript:;" class="collapse"></a>
        </div>
	</div>
     <div class="portlet-body">
        <div>
            <a class="k-button k-button-icontext k-add-button" href="@Url.Action("GuardarEvaluacion", "Evaluacion", new { tablaEvaluadoresID= tablaEvaluadoresID})"><span class="k-icon k-add"></span>Terminar evaluación</a>
        </div>  
        <h5> Datos del evaluado </h5>
        <div class="k-pager-wrap">
            <div class="row-fluid">
                <div class="span8 profile-info">
                    <h3>@evaluado.NombreCompleto</h3>
                    <p>@evaluado.Puesto</p>
                    <p>@evaluado.Area</p>
                    <ul class="unstyled inline">
                        <li><i class="icon-calendar"></i> @evaluado.FechaIngreso</li>
                        <li><i class="icon-map-marker"></i> </li>
                        <li><i class="icon-star"></i> Cantinflas </li>
                    </ul>
                </div>
                <!--end span8-->
            </div>
            <!--end row-fluid-->
        </div>
         <!--end k-pager-wrap-->

         Contenido de evaluación: 

        @(Html.Kendo().ListView<Capacidad>()
            .Name("Evaluacion")
            .TagName("div")
            .ClientTemplateId("template")
            .DataSource(dataSource => dataSource
                .Model(model => { model.Id(p => p.ID); }) @*model => model.Id("ID"))*@
                .PageSize(6)
                .Read(read => read.Action("Editing_ReadCapEvaluacion", "ProcesoEvaluacion" ,  new { puestoID= evaluado.PuestoID, tablaEvaluadoresID = tablaEvaluadoresID }))
            )
            .Pageable()
            .Editable()
        )
         
    </div>  
</div>

<script type="text/javascript">

    function GuardarPuntuacionPorPregunta(preguntaIDParam, puntuacion, peso, idElem) {
        var puntuacionParam = puntuacion*peso;//parseInt($("#puntPregunta__" + preguntaIDParam).val()) * peso;
   
        //$(idElem).css("color","#e3cf7a");
        $.ajax({
           url: '@Url.Action("GuardarPuntuacionPregunta", "ProcesoEvaluacion", new { Area = "Evaluacion360"})',
            dataType: 'JSON',
            type: 'POST',
            data: { preguntaID : preguntaIDParam, puntuacion : puntuacionParam },
            success: function(response){
                alert("se actualizó la pregunta" + response);
                //mantener pintadas las estrellitas correspondientes
            }
        });
    }
    $(document).ready(function () {
        $(".star").click(function (evt) {
   
        });
            
    });
</script>