@model KendoDP2.Areas.Evaluacion360.Models.ProcesoEvaluacion

@{
    ViewBag.Title = "Elegir evaluados";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IList<KendoDP2.Areas.Organizacion.Models.ColaboradorDTO> colaboradores = ViewBag.colaboradores;
    IList<KendoDP2.Areas.Organizacion.Models.AreaDTO> areas = ViewBag.areas;
    IList<KendoDP2.Areas.Evaluacion360.Models.EstadoColaboradorXProcesoEvaluacionDTO> estados = ViewBag.estados;
    SelectList lista = new SelectList(areas, "ID", "Nombre");
    int procesoEvaluacionID = ViewBag.idProceso;
}

@{Html.RenderPartial("Titulo", new KendoDP2.Models.Helpers.PageTitle("Elegir evaluados", "Elija los colaboradores evaluados en este proceso"));}

<div class="portlet box green">
    <div class="portlet-title">
        <h4><i class="icon-reorder"></i>Procesos de evaluación</h4>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row-fluid">
        @if (ViewBag.esAdmin)
        {
            <div class="span2">
                @(Html.Kendo().ComboBox()
                        .Name("ComboColaboradores")
                        .Placeholder("Agregue un colaborador...")
                        .DataTextField("NombreCompleto")
                        .DataValueField("ID")
                        .Filter("contains")
                        .BindTo(colaboradores)
                        .Suggest(true)
                        .HtmlAttributes(new { style = "width:100%" })
                        .Events(e => e.Close("comboColaboradoresSelection"))
                )
                <hr />
                @(Html.Kendo().ComboBox()
                       .Name("ComboAreas")
                       .Placeholder("Agregue un área...")
                       .DataTextField("Nombre")
                       .DataValueField("ID")
                       .Filter("contains")
                       .BindTo(areas)
                       .Suggest(true)
                       .HtmlAttributes(new { style = "width:100%" })
                       .Events(e => e.Close("comboAreasSelection"))
                )
                <hr />
                    <div id="event_box_areas">
                    </div>
                    <hr />
                    <div id="event_box_colaboradores">
                    </div>
                    <hr />
                </div>
            }   
            <div class="span10">
                @(Html.Kendo().Grid<KendoDP2.Areas.Evaluacion360.Models.ColaboradorXProcesoEvaluacionDTO>()
                .Name("ColaboradoresDeProcesoEvaluacionGrid")
                .Columns(columns =>
                    {
                        columns.Bound(p => p.ColaboradorDTO.ApellidoPaterno);
                        columns.Bound(p => p.ColaboradorDTO.ApellidoMaterno);
                        columns.Bound(p => p.ColaboradorDTO.Nombre);
                        columns.ForeignKey((p => p.ColaboradorDTO.AreaID), lista);
                        //columns.Bound(p => p.ColaboradorDTO.Area);
                        columns.Bound(p => p.ColaboradorDTO.Puesto);
                        columns.ForeignKey(p => p.EstadoColaboradorXProcesoEvaluacionID, new SelectList(estados, "ID", "Nombre"));      
                        columns.Template(@<text></text>).Title("Evaluadores").ClientTemplate("<a class='k-button' href='" + Url.Action("SeleccionarEvaluadores", "Evaluadores") + "?procesoEvaluacionID="+procesoEvaluacionID+"&colaboradorID=#=ColaboradorDTO.ID#'>Elegir</a>");
                        if (ViewBag.esAdmin) 
                            columns.Command(command =>
                            {
                                command.Destroy().Text("Eliminar");
                            }).Width(200);
                    }
                )
                .ToolBar(toolbar => 
                    {
                        toolbar.Custom().Text("Iniciar proceso").Action("IniciarProcesoEvaluacion", "ProcesoEvaluacion", new { Area = "Evaluacion360" });
                        toolbar.Custom().Text("Cerrar Proceso").Action("CerrarProcesoEvaluacion", "ProcesoEvaluacion", new { Area = "Evaluacion360" });
                        //toolbar.Template(@<text><a class='k-button'  id='btnIniciar' href='javascript:IniciarProcesoEvaluacionJS()'>Iniciar Proceso Evaluación </a><a class='k-button' id='btnCerrar' href='javascript:CerrarProcesoEvaluacionJS()'>Cerrar Proceso Evaluación </a></text>);
                    }
                        )
                        .Editable(
                            e => e.DisplayDeleteConfirmation("¿Realmente desdea eliminar este registro?")
                        )
                        .Pageable(paper => paper.Refresh(true))
                        .Filterable()
                        .Sortable()
                        .Scrollable(w => w.Height(330))
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .PageSize(20)
                            .Model(model => { model.Id(p => p.ID); })
                            .Read(read => read.Action("ReadEvaluados", "ProcesoEvaluacion", new { procesoID = Model.ID }))
                            .Destroy(update => update.Action("DestroyEvaluados", "ProcesoEvaluacion"))
                            .Events(e => e.RequestEnd("requestEnd"))
                        )
                        )
            </div>
        </div>
    </div>
</div>

<script type="text/javascript"> 
    $(document).ready(function(){
        cargaTiles();
    });
    function requestEnd(e){
        cargaTiles();
    }

    function cargaTilesAreas(){
        $.ajax({
            url: '@Url.Action("GetAreas", "ProcesoEvaluacion", new { Area = "Evaluacion360" })',
            dataType: 'JSON',
            type: 'GET',
            data: { procesoID : @Model.ID },
            success: function(response){
                $("#event_box_areas").html('');
                for(var i = 0; i < response.data.length; i++){
                    agregaTileDeArea(response.data[i].AreaDTO.ID, response.data[i].AreaDTO.Nombre);
                }
            }
        });
    }
    
    function cargaTilesColaboradores(){
        $.ajax({
            url: '@Url.Action("GetEvaluadosDirectos", "ProcesoEvaluacion", new { Area = "Evaluacion360" })',
            dataType: 'JSON',
            type: 'GET',
            data: { procesoID : @Model.ID },
            success: function(response){
                $("#event_box_colaboradores").html('');
                console.log('asdf');
                for(var i = 0; i < response.data.length; i++){
                    agregaTileDeColaborador(response.data[i].ColaboradorDTO.ID, response.data[i].ColaboradorDTO.NombreCompleto);
                }
            }
        });
    }

    function cargaTiles(){
        cargaTilesAreas();
        cargaTilesColaboradores();
    }

    function agregaTileDeArea(areaID, areaNombre){
        var newDiv = '<a href="javascript:removeArea(' + areaID + ');" class="label external-event">' + areaNombre + '<i class="icon-remove"></i></a>'; 
        $("#event_box_areas").append(newDiv);
    }
    function agregaTileDeColaborador(colaboradorID, nombreCompleto){
        var newDiv = '<a href="javascript: (' + colaboradorID + ');" class="label external-event">' + nombreCompleto + '<i class="icon-remove"></i></a>'; 
        $("#event_box_colaboradores").append(newDiv);
    }

    function removeColaborador(colaboradorID){
        $.ajax({
            url: '@Url.Action("DestroyEvaluadoDirecto", "ProcesoEvaluacion", new { Area = "Evaluacion360" })',
            dataType: 'JSON',
            type: 'POST',
            data: { procesoID : @Model.ID, colaboradorID : colaboradorID },
            success: function(response){
                cargaTiles();
                $("#ColaboradoresDeProcesoEvaluacionGrid").data('kendoGrid').dataSource.read();
            }
        });
    }
    function removeArea(areaID){
        $.ajax({
            url: '@Url.Action("DestroyArea", "ProcesoEvaluacion", new { Area = "Evaluacion360" })',
            dataType: 'JSON',
            type: 'POST',
            data: { procesoID : @Model.ID, areaID : areaID },
            success: function(response){
                cargaTiles();
                $("#ColaboradoresDeProcesoEvaluacionGrid").data('kendoGrid').dataSource.read();
            }
        });
    }

    function comboAreasSelection(e) {
        var comboAreas = $('#ComboAreas').data('kendoComboBox');
        if (comboAreas.selectedIndex == -1)
            return;
        var areaID = comboAreas.dataItem(comboAreas.selectedIndex).ID;
        var areaNombre = comboAreas.dataItem(comboAreas.selectedIndex).Nombre;
        console.log("area seleccionada:" + areaID);

        $.ajax({
            url: '@Url.Action("AddEvaluadosAreas", "ProcesoEvaluacion", new { Area = "Evaluacion360" })',
            dataType: 'JSON',
            type: 'POST',
            data: {procesoID: @Model.ID, areaID: areaID},
            success: function(data){
                if(data.success){
                    cargaTilesAreas();
                    $("#ColaboradoresDeProcesoEvaluacionGrid").data('kendoGrid').dataSource.read();
                }
                else {
                }
            },
            error: function(){
                alert("Hubo un error en la operación");
            }
        });
    };

    function comboColaboradoresSelection(e) {
        var comboColaboradores = $("#ComboColaboradores").data('kendoComboBox');
        if (comboColaboradores.selectedIndex == -1)
            return;
        var colaboradorID = comboColaboradores.dataItem(comboColaboradores.selectedIndex).ID;
        var colaboradorNombre = comboColaboradores.dataItem(comboColaboradores.selectedIndex).NombreCompleto;
        $.ajax({
            url: '@Url.Action("AddEvaluadosColaborador", "ProcesoEvaluacion", new { Area = "Evaluacion360" })',
            dataType: 'JSON',
            type: 'POST',
            data: {procesoID: @Model.ID, colaboradorID: colaboradorID},
            success: function(data){
                if(data.success){
                    cargaTilesColaboradores();
                    $("#ColaboradoresDeProcesoEvaluacionGrid").data('kendoGrid').dataSource.read();
                }
                else
                    alert("El colaborador seleccionado ya se encuentra en la lista de evaluados");
            },
            error: function(){        
                alert("Hubo un error en la operación");
            }
        });
    }
</script>