@model KendoDP2.Areas.Personal.Models.ColaboradorDTO

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="row-fluid">
            <div class="span12">
                <div class="row-fluid">
                    <div class="span5"><div class="editor-label" style="width:100%;text-align:left;">@Html.LabelFor(model => model.Nombre)</div></div>
                    <div class="span7"> <div class="editor-field" style="width:100%;text-align:left;">
                            @Html.EditorFor(model => model.Nombre)
                            @Html.ValidationMessageFor(model => model.Nombre)
                    </div></div>
                </div>

                <div class="row-fluid">
                    <div class="span5"><div class="editor-label" style="width:100%;text-align:left;">@Html.LabelFor(model => model.ApellidoPaterno)</div></div>
                    <div class="span7"> <div class="editor-field" style="width:100%;text-align:left;">
                            @Html.EditorFor(model => model.ApellidoPaterno)
                            @Html.ValidationMessageFor(model => model.ApellidoPaterno)
                    </div></div>
                </div>

                <div class="row-fluid">
                    <div class="span5"><div class="editor-label" style="width:100%;text-align:left;">@Html.LabelFor(model => model.FechaNacimiento)</div></div>
                    <div class="span7"> <div class="editor-field" style="width:100%;text-align:left;">
                            @Html.EditorFor(model => model.FechaNacimiento)
                            @Html.ValidationMessageFor(model => model.FechaNacimiento)
                    </div></div>
                </div>

            </div>
        </div>
        <!-- aca ta sin arreglar -->
        <div class="editor-label">
            @Html.LabelFor(model => model.ApellidoMaterno)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ApellidoMaterno)
            @Html.ValidationMessageFor(model => model.ApellidoMaterno)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Telefono)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Telefono)
            @Html.ValidationMessageFor(model => model.Telefono)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Direccion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Direccion)
            @Html.ValidationMessageFor(model => model.Direccion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PaisID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PaisID)
            @Html.ValidationMessageFor(model => model.PaisID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaNacimiento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaNacimiento)
            @Html.ValidationMessageFor(model => model.FechaNacimiento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TipoDocumentoID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TipoDocumentoID)
            @Html.ValidationMessageFor(model => model.TipoDocumentoID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumeroDocumento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumeroDocumento)
            @Html.ValidationMessageFor(model => model.NumeroDocumento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Usuario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Usuario)
            @Html.ValidationMessageFor(model => model.Usuario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EstadoColaboradorID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EstadoColaboradorID)
            @Html.ValidationMessageFor(model => model.EstadoColaboradorID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CentroEstudios)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CentroEstudios)
            @Html.ValidationMessageFor(model => model.CentroEstudios)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GradoAcademicoID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GradoAcademicoID)
            @Html.ValidationMessageFor(model => model.GradoAcademicoID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CorreoElectronico)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CorreoElectronico)
            @Html.ValidationMessageFor(model => model.CorreoElectronico)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaIngreso)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaIngreso)
            @Html.ValidationMessageFor(model => model.FechaIngreso)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AreaID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AreaID)
            @Html.ValidationMessageFor(model => model.AreaID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PuestoID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PuestoID)
            @Html.ValidationMessageFor(model => model.PuestoID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Sueldo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Sueldo)
            @Html.ValidationMessageFor(model => model.Sueldo)
        </div>
    </fieldset>
}
