@{
    ViewBag.Title = "TemporalDeCodigo";
}

<h2>TemporalDeCodigo</h2>


        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span6">
                    <div class="span2">
                        Evento de evaluación:
                    </div>

                    <div class="span5 text-right">
                        @(Html.Kendo().ComboBox()
                                //.Name("elSubordinadoSeleccionado")
                        .Name("elEventoSeleccionado")
                        .HtmlAttributes(new { style = "width: 220px;" })
                        .Filter("contains")
                                //.Placeholder("Seleccione colaborador...")
                                //.DataTextField("NombreCompleto")
                        .DataTextField("Nombre")
                        .DataValueField("ID")
                                //.BindTo(new List<SelectListItem>() {
                                //    new SelectListItem() {
                                //      Text = "Juan Perez", Value = "1"   
                                //    },
                                //    new SelectListItem() {
                                //      Text = "Juan Perez 2", Value = "2"   
                                //    },
                                //    new SelectListItem() {
                                //      Text = "Juan Perez 3", Value = "3"   
                                //    },
                                //    new SelectListItem() {
                                //      Text = "Juan Perez 4", Value = "4"   
                                //    }
                                //})
                        .BindTo(eventosDeEvaluacion)
                        .SelectedIndex(0)
                        .Suggest(true)
                )
                    </div>
                @*<div class="span5 text-r">*@
                @*<div class="span5">
                Fecha de inicio: @eventosDeEvaluacion.First().FechaCierre
                Fecha de fin: @eventosDeEvaluacion.First().FechaCierre
                Autorizado por: @eventosDeEvaluacion.First().AutorizadorID
            </div>@**@
                <@*div class="span5" style="border: solid; border-color: #35aa47">
                Datos del proceso de evaluación:

                <div class="span12">
                askdml{asdm{aslkdanmsldkasnmdlñkasnd
                </div>

                <div class="span12">
                askdml{asdm{aslkdanmsldkasnmdlñkasnd
                </div>

                <div class="span12">
                askdml{asdm{aslkdanmsldkasnmdlñkasnd
                </div>

                <div class="span12">
                askdml{asdm{aslkdanmsldkasnmdlñkasnd
                </div>

                <div class="span12">
                askdml{asdm{aslkdanmsldkasnmdlñkasnd
                </div>
                askdml{asdm{aslkdanmsldkasnmdlñkasnd
                askdml{asdm{aslkdanmsldkasnmdlñkasnd
                askdml{asdm{aslkdanmsldkasnmdlñkasnd
                askdml{asdm{aslkdanmsldkasnmdlñkasnd
                askdml{asdm{aslkdanmsldkasnmdlñkasnd
                askdml{asdm{aslkdanmsldkasnmdlñkasnd
                askdml{asdm{aslkdanmsldkasnmdlñkasnd
                askdml{asdm{aslkdanmsldkasnmdlñkasnd
                askdml{asdm{aslkdanmsldkasnmdlñkasnd
                askdml{asdm{aslkdanmsldkasnmdlñkasnd
                askdml{asdm{aslkdanmsldkasnmdlñkasnd
                askdml{asdm{aslkdanmsldkasnmdlñkasnd
                askdml{asdm{aslkdanmsldkasnmdlñkasnd

            </div>*@
            </div>
        <br />
        <div class="row-fluid">
            @*<div class="span12">*@
            <div class="span7">        
                @foreach (ProcesoEvaluacionDTO periodoApreciacion in eventosDeEvaluacion)
                {

                    @(Html.Kendo().PanelBar()
                        .Name("SupervisionEvaluaciones" + periodoApreciacion.ID)
                        //.HtmlAttributes(new { style = "margin-right: 470px;" })
                        .ExpandAll(false)
                        .Items(panelbar =>
                        {
                            //foreach (KendoDP2.Areas.Objetivos.Models.ObjetivoDTO unoDeSusObjetivos in unSubordinado.Objetivos)
                            foreach (SupervisionASubordinadoDTO unEmpleado in colaboradoresDelNivelInferior)
                            {
                                //panelbar.Add().Text("Objetivo: " + unoDeSusObjetivos.Nombre + " (" + unoDeSusObjetivos.Peso + "%)")
                                panelbar.Add().Text(unEmpleado.PersonaNombre + " - " + unEmpleado.CargoNombre)
                                //.Expanded(true)
                                .Items(items =>
                                {
                                    ////items.Add().Text("El 01/01/2013 alcancé el 20% - " + @Url.Action("Aprobar") + " - " + @Url.Action("Cambiar valor"));
                                    //items.Add().Text("El " + unoDeSusObjetivos.FechaFinalizacion + " tengo planeado conseguir este objetivo").HtmlAttributes(new { style = "color: rgb(71, 0, 255)" });
                                    //items.Add().Text("El dia de hoy: martes, 28 de mayo de 2013").HtmlAttributes(new { style = "font-weight: bold"});
                                    //items.Add().Text("El lunes, 27 de mayo de 2013 17:10 alcancé el 20% - Aprobar - Cambiar valor");
                                    //items.Add().Text("El lunes, 27 de mayo de 2013 15:12 alcancé el 10%");
                                    //items.Add().Text("El " + unoDeSusObjetivos.FechaCreacion + " me propuse este objetivo").HtmlAttributes(new { style = "color: rgb(98, 163, 0)" });
                                    ////items.Add().Text("Sub Item 3");
                                    ////items.Add().Text("Sub Item 4");
                            
                                    foreach (EvaluadorDTO colaborador in unEmpleado.Evaluadores)
                                    {
                                        items.Add().Text(colaborador.Nombre + ". Su evaluación está " + colaborador.LaEtapa).HtmlAttributes(new { style = "font-weight: bold"});
                                        //colaborador.ID
                                        //colaborador.Nombre
                                        //colaborador.LaEtapa
                                

                                    }
                                });
                            }
                    
                        })
                    )
                }
            </div>
@*            <div class="span5" style="border: solid; border-color: #35aa47">
                Datos del proceso de evaluación:

            </div> *@
            </div>
        </div>
























                        <div class="span6">
                <!--Body content-->
                @*<div class="span5" style="border: solid; border-color: #35aa47">*@
                <div class="span12" style="border: solid; border-color: #35aa47">
                    Datos del proceso de evaluación:

                    <div class="span12">
                    askdml{asdm{aslkdanmsldkasnmdlñkasnd
                    </div>

                    <div class="span12">
                    askdml{asdm{aslkdanmsldkasnmdlñkasnd
                    </div>

                    <div class="span12">
                    askdml{asdm{aslkdanmsldkasnmdlñkasnd
                    </div>

                    <div class="span12">
                    askdml{asdm{aslkdanmsldkasnmdlñkasnd
                    </div>

                    <div class="span12">
                    askdml{asdm{aslkdanmsldkasnmdlñkasnd
                    </div>
                    askdml{asdm{aslkdanmsldkasnmdlñkasnd
                    askdml{asdm{aslkdanmsldkasnmdlñkasnd
                    askdml{asdm{aslkdanmsldkasnmdlñkasnd
                    askdml{asdm{aslkdanmsldkasnmdlñkasnd
                    askdml{asdm{aslkdanmsldkasnmdlñkasnd
                    askdml{asdm{aslkdanmsldkasnmdlñkasnd
                    askdml{asdm{aslkdanmsldkasnmdlñkasnd
                    askdml{asdm{aslkdanmsldkasnmdlñkasnd
                    askdml{asdm{aslkdanmsldkasnmdlñkasnd
                    askdml{asdm{aslkdanmsldkasnmdlñkasnd
                    askdml{asdm{aslkdanmsldkasnmdlñkasnd
                    askdml{asdm{aslkdanmsldkasnmdlñkasnd
                    askdml{asdm{aslkdanmsldkasnmdlñkasnd

                </div>
                    @*</div>
                </div>*@

























                            <div class="span12">
                        Datos del proceso de evaluación:
                    </div>
                    <div class="span12">

                        Identificador:

                        <div class="well well-small">
                          ...1                            
                        </div>
                    </div>
                    <div class="span12">

                        Nombre:

                        <div class="well well-small">
                          .Un proceso                          
                        </div>
                    </div>
                    <div class="span12">

                        Autorizado por:

                        <div class="well well-small">
                          El gerente general                        
                        </div>
                    </div>



















                            <div class="span12" style="border: solid; border-color: #35aa47">
                    
                    <div class="span12">
                        <strong>Datos del proceso de evaluación:</strong>
                    </div>
                    <div class="span12">

                        Identificador:

                        <div class="well well-small">
                          ...1                            
                        </div>
                    </div>
                    <div class="span12">

                        Nombre:

                        <div class="well well-small">
                          .Un proceso                          
                        </div>
                    </div>
                    <div class="span12">

                        Autorizado por:

                        <div class="well well-small">
                          El gerente general                        
                        </div>
                    </div>

                </div>




















<h2>Index</h2>

Data entregada por el servidor:
<br />
<br />
Eventos de evaluacion:
<br />
<br />

@foreach (ProcesoEvaluacionDTO periodoApreciacion in eventosDeEvaluacion)
{
    @periodoApreciacion.ID <br />
    @periodoApreciacion.Nombre <br />
    <br />
    //periodoApreciacion.in
}


Los empleados a su cargo:
<br />
@foreach (SupervisionASubordinadoDTO unEmpleado in colaboradoresDelNivelInferior)
{
    @unEmpleado.PersonaID <br/>
    @unEmpleado.PersonaNombre <br/>
    @unEmpleado.CargoID <br/>
    @unEmpleado.CargoNombre <br/>
    @*
    @unEmpleado. <br/>*@
    
    <div>Una presentación de los participantes que lo evaluan</div>
    
    foreach (EvaluadorDTO colaborador in unEmpleado.Evaluadores)
    {
        @colaborador.ID <br/>
        @colaborador.Nombre <br/>
        @colaborador.LaEtapa <br/>
        <br />

    }
    <br />
    
}