@using Kendo.Mvc.UI
@using KendoDP2.Areas.Organizacion.Models
@using KendoDP2.Areas.Configuracion.Models
@using KendoDP2.Areas.Organizacion.Models

@model KendoDP2.Areas.Organizacion.Models.ColaboradorDTO
@{
    TipoDocumentoDTO tipoDocumento = ViewBag.tipoDocumento;
    GradoAcademicoDTO gradoAcademic = ViewBag.gradoAcademico;
    
}
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.ID)
    <div  style="width:900px;">
        <div class="row-fluid">
            <!-- contenedor superior izquierdo: campos -->
            @Html.Label("Datos Personales:", new { style = "font-weight: bold;" })

            <div class="span9">
                <div class="row-fluid">
                    <div class="span5">
                        <div class="editor-label" style="width: 100%; text-align: left;">@Html.LabelFor(model => model.Nombre)</div>
                    </div>
                    <div class="span7">
                        <div class="editor-field" style="width: 100%; text-align: left;">
                            @Html.TextBoxFor(model => model.Nombre, new { @readonly = "readonly" })
                        </div>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span5">
                        <div class="editor-label" style="width: 100%; text-align: left;">@Html.LabelFor(model => model.ApellidoPaterno)</div>
                    </div>
                    <div class="span7">
                        <div class="editor-field" style="width: 100%; text-align: left;">
                            @Html.TextBoxFor(model => model.ApellidoPaterno, new { @readonly = "readonly" })
                        </div>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span5">
                        <div class="editor-label" style="width: 100%; text-align: left;">@Html.LabelFor(model => model.ApellidoMaterno)</div>
                    </div>
                    <div class="span7">
                        <div class="editor-field" style="width: 100%; text-align: left;">
                            @Html.TextBoxFor(model => model.ApellidoMaterno, new { @readonly = "readonly" })
                        </div>
                    </div>
                </div>


                <div class="row-fluid">
                    <div class="span5">
                        <div class="editor-label" style="width: 100%; text-align: left;">@Html.LabelFor(model => model.TipoDocumentoID)</div>
                    </div>
                    <div class="span7 responsive">
                        @Html.TextBox("TipoDocumento", tipoDocumento.Descripcion, new { @readonly = "readonly" })
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span5">
                        <div class="editor-label" style="width: 100%; text-align: left;">@Html.LabelFor(model => model.NumeroDocumento)</div>
                    </div>
                    <div class="span7">
                        <div class="editor-field" style="width: 100%; text-align: left;">
                            @Html.TextBoxFor(model => model.NumeroDocumento, new { @readonly = "readonly" })
                        </div>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span5">
                        <div class="editor-label" style="width: 100%; text-align: left;">@Html.LabelFor(model => model.Telefono)</div>
                    </div>
                    <div class="span7">
                        <div class="editor-field" style="width: 100%; text-align: left;">
                            @Html.TextBoxFor(model => model.Telefono, new { @readonly = "readonly" })
                        </div>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span5">
                        <div class="editor-label" style="width: 100%; text-align: left;">@Html.LabelFor(model => model.CorreoElectronico)</div>
                    </div>
                    <div class="span7">
                        <div class="editor-field" style="width: 100%; text-align: left;">
                            @Html.TextBoxFor(model => model.CorreoElectronico, new { @readonly = "readonly" })
                        </div>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span5">
                        <div class="editor-label" style="width: 100%; text-align: left;">@Html.LabelFor(model => model.CentroEstudios)</div>
                    </div>
                    <div class="span7">
                        <div class="editor-field" style="width: 100%; text-align: left;">
                            @Html.TextBoxFor(model => model.CentroEstudios, new { @readonly = "readonly" })
                        </div>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span5">
                        <div class="editor-label" style="width: 100%; text-align: left;">@Html.LabelFor(model => model.GradoAcademicoID)</div>
                    </div>
                    <div class="span7 responsive">
                        @Html.TextBox("GradoAcademico", gradoAcademic.Descripcion, new { @readonly = "readonly" })
                    </div>
                </div>

                <div class="row-fluid">
                <div class="span5">
                    <div class="editor-label" style="width: 100%; text-align: left;">@Html.LabelFor(model => model.CurriculumVitaeID)</div>
                    <a href="#" id="bajar-cv-anchor" class="hidden" target="_blank"></a>
                    <a href="javascript:bajarCV();">Descargar Curriculum</a>
                </div>
                <div class="span7">
                @Html.HiddenFor(m => m.CurriculumVitaeID)
                <input type="file" id="Archivo2" name="Archivo2" />
                <script>
                    $("#Archivo2").kendoUpload({
                        multiple: false,
                        showFileList: true,
                        localization: {
                            select: 'Seleccione archivo PDF'
                        },
                        async: {
                            saveUrl: '@Url.Action("UploadPDF", "Misc", new {Area = ""})',
                            autoUpload: true,
                        },
                        success: function (e) {
                            var archivoID = e.response.ID;
                            $("#CurriculumVitaeID").val(archivoID).change();
                        }
                    });
                </script> 
                </div>
            </div>

                         
        
            </div>
            <!-- fin contenedor superior izquierdo: campos -->
            <!-- contenedor superior derecho: foto -->
                       <!-- fin contenedor superior derecho: foto -->
        </div>
    </div>
    <!-- contenedor inferior: campos -->
  
   
<a class="btn green" href="javascript:Postular();"> Postular </a>
<a class="btn green" href="javascript:Cancelar();"> Cancelar </a>

<script>
    function submitForm() {
        //var validator = $("#formulario").kendoValidator().data("kendoValidator"),
        //           status = $(".status");
        //if (validator.validate()) {
        $("#form0").submit();
        alert('Se actualizaron los datos');
        //}
    }
    

    function Postular(){
        $.ajax({
            url: '@Url.Action("Postular", "ConvocatoriasInternas", new { Area = "BolsaTrabajo" })?ofertaID='+ model.ofertaID,
                dataType: 'JSON',
                type: 'POST',
                data: { ofertaID : model.ofertaID},
            success: function(response){
                $("#ConvocatoriaInternaGrid").data('kendoGrid').dataSource.read();
                $("#Details").data('kendoWindow').close();
            }
            });
    }

    function Cancelar(){
        $.ajax({
            success: function(response){
                $("#Details2").data('kendoWindow').close();
            }})}

    
    function bajarCV() {
        if ($("#CurriculumVitaeID").val() == '0' || $("#CurriculumVitaeID").val() == 0)
            alert("No hay ningun curriculum registrado");
        else {
            $("#bajar-cv-anchor").attr("href", "/Organizacion/Colaboradores/BajarCurriculum?curriculumVitaeID=" + $("#CurriculumVitaeID").val());
            $("a#bajar-cv-anchor")[0].click();
        }
    }


</script>
    

