@using Kendo.Mvc.UI
@using KendoDP2.Areas.Organizacion.Models
@using KendoDP2.Areas.Reclutamiento.Models

@{
    ViewBag.Title = "Postulantes Por Oferta Laboral Externa en Fase 1";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IList<AreaDTO> areas = ViewBag.areas;
    IList<EstadosSolicitudOfertaLaboralDTO> estadosSolicitudOferta = ViewBag.estadosSolicitudOferta;
    IList<PuestoDTO> puestos = ViewBag.puestos;
    int ofertaID = ViewBag.ofertaID;

}
@{Html.RenderPartial("Titulo", new KendoDP2.Models.Helpers.PageTitle("Postulantes por Oferta Laboral Externa: Fase 2", "Revise sus resultados y apruebelos para siguiente fase"));}
<div class="alert alert-block alert-info fade in">
                           <button type="button" class="close" data-dismiss="alert"></button>
                           <h4 class="alert-heading">Información</h4>
                           <p>
                              Apruebe a los postulantes calificados para la fase 3 tras la evaluación psicotécnica.
                              En caso quiera ver la lista general de postulantes de esta oferta presionar el boton "Ver Todos".
                           </p>
 </div>

<div class="progress progress">
                           <div style="width: 60%;" class="bar"></div>
</div>

<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption"><i class="icon-reorder"></i>Postulantes por Oferta Laboral Externa: Fase 2</div>
        <div class="tools">
	        <a href="javascript:;" class="collapse"></a>
        </div>
	</div>
    
    <div class="portlet-body">
        <div class="row-fluid">
               <div class="span2">@Html.ActionLink("Ir a fase 1", "VerPostulantesFase1", "OfertasLaboralesExternas", new { ofertaLaboralID = ofertaID }, new {@class = "btn yellow" })</div>
               <div class="span2">@Html.ActionLink("Ir a fase 3", "VerPostulantesFase3", "OfertasLaboralesExternas", new { ofertaLaboralID = ofertaID }, new {@class = "btn red" })</div>
               <div class="span2">@Html.ActionLink("Ver todos", "VerPostulantes", "OfertasLaboralesExternas", new { ofertaLaboralID = ofertaID}, new {@class = "btn green" })</div>
           </div>   
           <div class="row-fluid">
            @(Html.Kendo().Grid<OfertaLaboralXPostulanteDTO>()
                .Name("PostulantesPorOfertaLaboralExternaFase2Grid")
                .Columns(columns =>
                    {
                        columns.Bound(p => p.Postulante.NombreCompleto);
                        columns.Bound(p => p.Postulante.CorreoElectronico);
                        columns.Bound(p => p.EstadoPostulantePorOfertaNombre);
                        columns.Bound(p => p.PuntajeTotal);
                        columns.Command(command =>
                        {
                            command.Custom("Ver").Click("verPostulante").SendDataKeys(true);
                            command.Custom("Aprobar").Click("aprobarSiguienteFase");
                            command.Custom("Rechazar").Click("rechazarPase");
                        }).Width(250);
                                            


                    }
                        )
                          .ToolBar(toolbar => { toolbar.Save().SaveText("Guardar cambios").CancelText("Cancelar cambios"); }) 
                          .Editable(editable => editable
                            .Mode(GridEditMode.InCell)
                            .Window(w => { w.Title("Ver Postulante"); w.Width(900); })

                        )
                        .Groupable()
                        .Pageable(paper => paper.Refresh(true))
                        .Filterable()
                        .Sortable()
                        .Scrollable(p => p.Height(330))
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .PageSize(20)
                            .Model(model => model.Id(p => p.ID))
                            .Read(read => read.Action("ReadListaPostulantesFase2", "OfertasLaboralesInternas", new { ofertaID = ofertaID }))
                            .Update(update => update.Action("Update", "OfertasLaboralesInternas"))
                        )
                       )
        </div>
    </div>
</div>


@(Html.Kendo().Window().Name("Details")
    .Title("Motivo de Rechazo")
    .Visible(false)
    .Modal(true)
    .Draggable(true)
    .Width(900)

)

@(Html.Kendo().Window().Name("Details2")
    .Title("Postulante Por Oferta Laboral Externa")
    .Visible(false)
    .Modal(true)
    .Draggable(true)
    .Width(900)

)

@(Html.Kendo().Window().Name("Details3")
    .Title("Seleccionar Fecha de la Evaluación")
    .Visible(false)
    .Modal(true)
    .Draggable(true)
    .Width(500)

)


<script>


    function recargaGrid(){
        $("#PostulantesPorOfertaLaboralExternaFase2Grid").data('kendoGrid').dataSource.read();
    }

    function aprobarSiguienteFase(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        ID = dataItem.ID;
        var wnd = $("#Details3").data("kendoWindow");
        $("#Details3").load("@Url.Action("GetViewSeleccionFechaFase3","OfertasLaboralesInternas", new{Area = "Reclutamiento"})", 
            {ofertaID : @ofertaID, postulanteXOfertaID : ID }, 
            function () {
                wnd.center().open();
        });
    }

    function rechazarPase(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        ID = dataItem.ID;
        var wnd = $("#Details").data("kendoWindow");
        $("#Details").load("@Url.Action("GetViewMotivosRechazo","OfertasLaboralesInternas", new{Area = "Reclutamiento"})", {ofertaID : @ofertaID, postulanteXOfertaID : ID }, function () {
            wnd.center().open();
        });
    }

    function verPostulante(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        ID = dataItem.ID;
        var wnd = $("#Details2").data("kendoWindow");
        $("#Details2").load("@Url.Action("GetViewPostulanteExterno","OfertasLaboralesExternas", new{Area = "Reclutamiento"})", {ofertaID : @ofertaID, postulanteXOfertaID : ID }, function () {
            wnd.center().open();
        });
    }

</script>
