@using KendoDP2.Areas.Organizacion.Models
@using Kendo.Mvc.UI

@{
    IList<AreaDTO> areas = ViewBag.areas;
    IList<PuestoDTO> puestos = ViewBag.puestos;
}

@model KendoDP2.Areas.Organizacion.Models.ColaboradorXPuestoDTO

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    
    <div style="width: 900px;">
        <div class="row-fluid">
            <div class="span12">
                @Html.Label("Información Puesto Laboral:", new { style = "font-weight: bold;" })
            </div>
        </div>

        <div class="span4">
            <div class="row-fluid">
                <div class="span5">
                    <div class="editor-label" style="width: 100%; text-align: left;">
                        @Html.LabelFor(model => model.FechaIngresoPuesto)
                    </div>
                </div>
                <div class="span7">
                    <div class="editor-field" style="width: 100%; text-align: left;">
                            @(Html.Kendo().DatePickerFor(model => model.FechaIngresoPuesto)
                                .Name("datepicker_FechaIngresoPuesto")
                                .HtmlAttributes(new { style = "width:150px" })
                            )
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span5">
                    <div class="editor-label" style="width: 100%; text-align: left;">
                        @Html.LabelFor(model => model.FechaSalidaPuesto)
                    </div>
                </div>
                <div class="span7">
                    <div class="editor-field" style="width: 100%; text-align: left;">
                        @(Html.Kendo().DatePickerFor(model => model.FechaSalidaPuesto)
                                .Name("datepicker_FechaSalidaPuesto")
                                .HtmlAttributes(new { style = "width:150px" })
                            )
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span5">
                    <div class="editor-label" style="width: 100%; text-align: left;">
                        @Html.Label("Area")
                    </div>
                </div>
                <div class="span7 responsive">
                    @Html.DropDownListFor(m => m.AreaID, new SelectList(areas, "ID", "Nombre"), new { style = "width:100%" })
                </div>
            </div>

            <div class="row-fluid">
                <div class="span5">
                    <div class="editor-label" style="width: 100%; text-align: left;">@Html.Label("Puesto")</div>
                </div>
                <div class="span7">
                    @Html.DropDownListFor(model => model.PuestoID, new SelectList(puestos, "ID", "Nombre"), new { style = "width:100%" })
                </div>
                <script>
                    $("#AreaID").change(function () {
                        var areaID = $(this).val();
                        $.getJSON("@Url.Action("_GetPuestos", "Historial", new { Area = "Organizacion" })", { areaID: areaID },
               function (puestos) {
                   var select = $("#PuestoID");
                   select.find('option').remove().end();
                   select.append($('<option/>', {
                       value: 0,
                       text: ""
                   }));
                   $.each(puestos, function (index, itemData) {
                       select.append($('<option/>', {
                           value: itemData.ID,
                           text: itemData.Nombre
                       }));
                   });
                   if (puestos.length > 0)
                       select.find('option:first').attr('selected', 'selected');

               });
                    });

                </script>
            </div>

            <div class="row-fluid">
                <div class="span5">
                    <div class="editor-label" style="width: 100%; text-align: left;">
                        @Html.LabelFor(model => model.Sueldo)
                    </div>
                </div>
                <div class="span7">
                    <div class="editor-field" style="width: 100%; text-align: left;">
                        @Html.Kendo().NumericTextBoxFor(model => model.Sueldo)
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span5">
                    <div class="editor-label" style="width: 100%; text-align: left;">
                        @Html.LabelFor(model => model.Comentarios)
                    </div>
                </div>
                <div class="span7">
                    <div class="editor-field" style="width: 100%; text-align: left;">
                        @Html.TextAreaFor(model => model.Comentarios)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- fin contenedor inferior: campos -->
}
