@using KendoDP2.Areas.Organizacion.Models
@using Kendo.Mvc.UI

@model KendoDP2.Areas.Eventos.Models.EventoDTO

@{
    ViewBag.Title = "Elegir Invitados";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IList<KendoDP2.Areas.Organizacion.Models.ColaboradorDTO> colaboradores = ViewBag.colaboradores;
    IList<KendoDP2.Areas.Organizacion.Models.AreaDTO> areas = ViewBag.areas;
    SelectList lista = new SelectList(areas, "ID", "Nombre");
}

@{Html.RenderPartial("Titulo", new KendoDP2.Models.Helpers.PageTitle("Elegir Invitados", "Elija los colaboradores invitados para este evento creado"));}

<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption"><i class="icon-reorder"></i>Elegir Invitados</div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row-fluid">
            <div class="span2">
                @(Html.Kendo().ComboBox()
                    .Name("ComboColaboradores")
                    .Placeholder("Agregue un colaborador...")
                    .DataTextField("NombreCompleto")
                    .DataValueField("ID")
                    .Filter("contains")
                    .BindTo(colaboradores)
                    .Suggest(true)
                    .HtmlAttributes(new { style = "width:100%" })
                    .Events(e => e.Close("comboColaboradoresSelection"))
                )
                <hr />
                @(Html.Kendo().ComboBox()
                    .Name("ComboAreas")
                    .Placeholder("Agregue un área...")
                    .DataTextField("Nombre")
                    .DataValueField("ID")
                    .Filter("contains")
                    .BindTo(areas)
                    .Suggest(true)
                    .HtmlAttributes(new { style = "width:100%" })
                    .Events(e => e.Close("comboAreasSelection"))
                )
                <hr />
                <div id="event_box_areas">
                </div>
                <hr />
                <div id="event_box_colaboradores">
                </div>
                <hr />
            </div>
            <div class="span10">
                @(Html.Kendo().Grid<KendoDP2.Areas.Eventos.Models.InvitadoDTO>()
                .Name("ColaboradoresPorEventoGrid")
                .Columns(columns =>
                    {
                        columns.Bound(p => p.ColaboradorDTO.NombreCompleto);
                        columns.Bound(p => p.ColaboradorDTO.CorreoElectronico);
                        columns.ForeignKey((p => p.ColaboradorDTO.AreaID), lista);
                        columns.Command(command =>
                        {
                            command.Destroy().Text("Eliminar");
                        }).Width(200);
                    }
                )
                        
                        .Editable(
                            e => e.DisplayDeleteConfirmation("¿Está seguro de que desea eliminar este registro?")
                        )
                        .Pageable(paper => paper.Refresh(true))
                        .Filterable()
                        .Sortable()
                        .Scrollable(w => w.Height(330))
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .PageSize(20)
                            .Model(model => { model.Id(p => p.ID); })
                            .Read(read => read.Action("ReadInvitados", "Eventos", new { EventoID = Model.ID }))
                            .Destroy(update => update.Action("DestroyInvitados", "Eventos"))
                            .Events(e => e.RequestEnd("requestEnd"))
                        )
                )
            </div>
        </div>
    </div>
</div>

<script type="text/javascript"> 
    $(document).ready(function(){
        cargaTiles();
    });
    function requestEnd(e){
        cargaTiles();
    }

    
    function cargaTilesAreas(){
        $.ajax({
            url: '@Url.Action("GetAreas", "Eventos", new { Area = "Eventos" })',
            dataType: 'JSON',
            type: 'GET',
            data: { eventoID : @Model.ID },
            success: function(response){
                $("#event_box_areas").html('');
                for(var i = 0; i < response.data.length; i++){
                    agregaTileDeArea(response.data[i].AreaDTO.ID, response.data[i].AreaDTO.Nombre);
                }
            }
        });
    }
    
    function cargaTilesColaboradores(){
        $.ajax({
            url: '@Url.Action("GetInvitadosDirectos", "Eventos", new { Area = "Eventos" })',
            dataType: 'JSON',
            type: 'GET',
            data: { eventoID : @Model.ID },
            success: function(response){
                $("#event_box_colaboradores").html('');
                console.log('asdf');
                for(var i = 0; i < response.data.length; i++){
                    agregaTileDeColaborador(response.data[i].ColaboradorDTO.ID, response.data[i].ColaboradorDTO.NombreCompleto);
                }
            }
        });
    }

    function cargaTiles(){
        cargaTilesAreas();
        cargaTilesColaboradores();
    }
    function agregaTileDeArea(areaID, areaNombre){
        var newDiv = '<a href="javascript:removeArea(' + areaID + ');" class="label external-event">' + areaNombre + '<i class="icon-remove"></i></a>'; 
        $("#event_box_areas").append(newDiv);
    }
    function agregaTileDeColaborador(colaboradorID, nombreCompleto){
        var newDiv = '<a href="javascript:removeColaborador(' + colaboradorID + ');" class="label external-event">' + nombreCompleto + '<i class="icon-remove"></i></a>'; 
        $("#event_box_colaboradores").append(newDiv);
    }

    function removeColaborador(colaboradorID){
        $.ajax({
            url: '@Url.Action("DestroyInvitadoDirecto", "Eventos", new { Area = "Eventos" })',
            dataType: 'JSON',
            type: 'POST',
            data: { eventoID : @Model.ID, colaboradorID : colaboradorID },
            success: function(response){
                cargaTiles();
                $("#ColaboradoresPorEventoGrid").data('kendoGrid').dataSource.read();
            }
        });
    }
    function removeArea(areaID){
        $.ajax({
            url: '@Url.Action("DestroyArea", "Eventos", new { Area = "Eventos" })',
            dataType: 'JSON',
            type: 'POST',
            data: { eventoID : @Model.ID, areaID : areaID },
            success: function(response){
                cargaTiles();
                $("#ColaboradoresPorEventoGrid").data('kendoGrid').dataSource.read();
            }
        });
    }

    function comboAreasSelection(e) {
        var comboAreas = $('#ComboAreas').data('kendoComboBox');
        if (comboAreas.selectedIndex == -1)
            return;
        var areaID = comboAreas.dataItem(comboAreas.selectedIndex).ID;
        var areaNombre = comboAreas.dataItem(comboAreas.selectedIndex).Nombre;
        console.log("area seleccionada:" + areaID);

        $.ajax({
            url: '@Url.Action("AddInvitadosAreas", "Eventos", new { Area = "Eventos" })',
            dataType: 'JSON',
            type: 'POST',
            data: {eventoID: @Model.ID, areaID: areaID},
            success: function(data){
                if(data.success){
                    cargaTilesAreas();
                    $("#ColaboradoresPorEventoGrid").data('kendoGrid').dataSource.read();
                }
                else {
                }
            },
            error: function(){
                alert("Hubo un error en la operación");
            }
        });
    };

    function comboColaboradoresSelection(e) {
        var comboColaboradores = $("#ComboColaboradores").data('kendoComboBox');
        if (comboColaboradores.selectedIndex == -1)
            return;
        var colaboradorID = comboColaboradores.dataItem(comboColaboradores.selectedIndex).ID;
        var colaboradorNombre = comboColaboradores.dataItem(comboColaboradores.selectedIndex).NombreCompleto;
        $.ajax({
            url: '@Url.Action("AddInvitadosColaborador", "Eventos", new { Area = "Eventos" })',
            dataType: 'JSON',
            type: 'POST',
            data: {eventoID: @Model.ID, colaboradorID: colaboradorID},
            success: function(data){
                if(data.success){
                    cargaTilesColaboradores();
                    $("#ColaboradoresPorEventoGrid").data('kendoGrid').dataSource.read();
                }
                else
                    alert("El colaborador seleccionado ya se encuentra en la lista de invitados o no se encuentra disponible para esa hora.");
            },
            error: function(){        
                alert("Hubo un error en la operación");
            }
        });
    }
</script>
